/* Write your CSS here */

.notFound {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.not-heading {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-weight: 500;
  font-size: 36px;
}
